
header {
  background-color: #333;
  color: #fff;
  padding: 20px 0;
  text-align: center;
}

.nav-links {
  display: flex;
  justify-content: center; /* Center align the navigation */
  list-style: none;
  padding: 0;
}

.nav-links li {
  margin: 0 15px;
}

.nav-links li a {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  transition: color 0.3s;
}

.nav-links li a:hover {
  color: #ff6600;
}

/* About Page */
.about-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.about-content img {
  border-radius: 50%;
  width: 200px;
  height: 200px;
  margin-bottom: 20px;
}

/* Services Page */
.services-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 30px;
  margin-top: 30px;
}

.service {
  background-color: #f9f9f9;
  padding: 20px;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, box-shadow 0.3s;
}

.service:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.service img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
  margin-bottom: 10px;
}

/* Social Media */
#social-media {
  background-color: #333;
  color: #fff;
  padding: 40px 0;
  text-align: center;
}

.social-media-icons {
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-media-icons a {
  color: #fff;
  font-size: 24px;
  margin: 0 10px;
  transition: color 0.3s;
}

.social-media-icons a:hover {
  color: #ff6600;
}

/* Footer */
footer {
  background-color: #333;
  color: #fff;
  padding: 20px 0;
  text-align: center;
}

footer p {
  margin: 0;
  font-size: 16px;
}


.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.section {
  padding: 60px 0;
}

/* Media Queries */
@media screen and (max-width: 768px) {
  .nav-links li {
    margin: 0 10px;
  }

  .about-content img {
    width: 150px;
    height: 150px;
    margin-bottom: 15px;
  }

  .service {
    padding: 15px;
  }
}
